%h1 Listing links

%table
  %thead
    %tr
      %th Url
      %th Slug

  %tbody
    - @links.each do |link|
      %tr
        %td= link.url
        %td= link.display_slug
        %td= link_to 'Show', link
        %td= link_to 'Edit', edit_link_path(link)

%br

= link_to 'New Link', new_link_path
